*{
    padding: 0;
    margin: 0;
    box-sizing: border-box
}

/* font style here */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* font style here */
.play{
font-size: 40px;
font-weight: 600;
}
.goat{
font-size: 80px;
font-weight: 800;
color:#D34DC6 ;
box-shadow: ;
}

/* nav style here */

.nav-container{
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    background: rgb(255, 255, 255);
}

/* icone style here */
.youtube{
    color: red;
    margin-right: 7px;
}

.main-nav{
/* width: 1536px;
height: 130px; */
padding: 30px 0;
max-width: 1000px;
margin: 0 auto;
display: flex;
justify-content: space-between;
align-items: center;
}
.nav-left{
    display: flex;
    align-items: center;
    gap: 7px;
}

/* button style here */
.nav-btn{
background-color: transparent;
border: none;
font-size: 18px;
font-weight: 500;
margin-right: 30px;
}
.btn-1{
    width: 156px;
    height: 65px;  
    border-radius: 40px;
    border: none;
    font-size: 20px;
   font-weight: 600;
   background-color:#FF42A5;
   color: white;
   margin-top: 40px;
}
.btn-2{
width: 185px;
height: 65px;
border: none;
border-radius: 40px;
font-size: 20px;
font-weight: 600;
color: white;
background-color:#4EC5F7 ;


}
.nav-btn-flow{
width: 262px;
height: 56px;
font-size: 18px;
font-weight: 500;
border: none;
border-radius: 8px;
}

/* header-style here */

.header-container{
    background-image: url(../images/Group\ 14.png);
}
.header-main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto;
}
.header-left{
   
    width: 50%;
}
.header-right{
    width: 50%;
}
.header-right img{
    width: 100%;
   
}
/* p-tag style here */
.p-tag{
    margin-top: 10px;
}