
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Font style here */
  
.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}




/* navbar \desing starts heer */
.nav-container{
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
.gamer{
    font-size: 45px;
    font-weight: 700; 
}
.nav-main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
    max-width: 1000px;
    margin: 0 auto;
}
.nav-left{
display: flex;
align-items: center;
font-size: 40px;
gap: 7px;
}
.nav-right{
display: flex;
}
.nav-btn{
 background-color:transparent;
border: none;
font-size: 18px;
font-weight: 500;
margin-right: 18px;

}
.nav-btn-follow{
border: none;
background-color: transparent;
background-color: #E6E5E9;
/* width: 262px;
height: 56px; */
padding: 20px 10px;
border-radius: 8PX;
font-size: 18px;
font-weight: 500;
margin-right: 0;
}

/* header starts here */
.header-container{
    background-image: url(../images/Group\ 14.png);
    background-repeat: no-repeat;
}

.header-main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto; 
}
.header-left{
    width: 50%;
   
}
.header-right {
    width: 50%;
}
.header-main img{
     width: 100%;
     
}

text style here
.play{
font-size: 40px;
font-weight: 600;
}
.goat{
    font-size: 70px;
    font-weight: 800;  
    background-image:linear-gradient(#F948B2,#8758F1);
    background-clip: text;
    color:transparent
    
}

.p-tag{
    margin-top: 17px;
font-size: 18px;
font-weight: 500; 
}

/* button style here */
.btn-1{
padding: 15px 20px;
 margin-top: 30px;
border-radius: 40px;
font-size: 20px;
font-weight: 600;
background-color:#FF42A5 ;
color: white;
border: none;
margin-right: 15px;
}
.btn-2{
   background-color: #4EC5F7; 
    
}

/* online game style here */
.online-main{

}
.online-text{
    text-align: center;
    
}
.online-card{
   position: relative;
}

.watch-now {
    
    position: absolute;
    top: 38%;
    left: 20%;
    text-align: center;   
    display: none;
    
}
.watch-now p{
    color: red;
}
.online-card img:hover+ .watch-now{
    display: block;
}
.online-card img:hover{
    filter: brightness(50%);
}
.watch-now+img:hover{
    filter: brightness(50%);
    display: block;
}


.watch-now span{
  font-size: 30px;  
  color: white;
}
/* .p-wathc{
    color: rgb(208, 81, 81);
    font-size: 20px;
} */
.h-game{
font-size: 48px;
font-weight: 700;
}
.p-game{
    font-size: 18px;
    font-weight: 400; 
}

.card-image-div{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 30px;
    
    
}
.card-image-div img{
    width: 100%;
    
}
.p-game-tag{
    font-size: 15px;
    font-weight: 400; 
    margin-top: 10px;
}

/* Play instantly */
.play-main{
display: flex;
justify-content: space-between;
align-items: center;
max-width: 1000Px;
margin: 0 auto 100px;
}

.play-left{
width: 40%;
}
.play-right{
width: 40%;
position: relative;
}
.play-right img{
    width: 100%;
}
.play-right .beral{
   position: absolute; 
   width: 180px; 
   height:180px ;
   bottom:-30px;
   left:-80px;
   
}

/* category section style here */
.category-main{
    max-width: 1000px;
    margin: 100px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
.category-child{
    display: flex;
    align-items: center;
    border-radius: 20px;
    min-width: 180px;
    margin-top: 25px;
    
}
.category-child img{
    width: 40px;
}

.category-child:hover{
outline: 1px solid red;
}