/* Font style here */
  
.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}



*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* navbar \desing starts heer */
.nav-container{
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
.nav-main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
    max-width: 1000px;
    margin: 0 auto;
}
.nav-left{
display: flex;
align-items: center;
font-size: 40px;
gap: 7px;
}
.nav-right{

}
.nav-btn{
 background-color:transparent;
border: none;
font-size: 18px;
font-weight: 500;
margin-right: 18px;

}
.nav-btn-follow{
border: none;
background-color: transparent;
background-color: #E6E5E9;
width: 262px;
height: 56px;
border-radius: 8PX;
font-size: 18px;
font-weight: 500;
margin-right: 0;
}

/* header starts here */
.header-container{
    background-image: url(../images/Group\ 14.png);
}

.header-main{
    justify-content: space-between;
    align-items: center;
    display: flex;
    max-width: 1000px;
    margin: 0 auto;
}
.header-left{
    width: 50%;
   
}
.header-right {
    width: 50%;
}
.header-main img{
     width: 100%;
     
}

/* font style here */
.play{
font-size: 40px;
font-weight: 600;
}
.goat{
    font-size: 70px;
    font-weight: 800;  
    background-image:linear-gradient(#F948B2,#8758F1);
    background-clip: text;
    color:transparent
}

/* button style here */
.btn-1{
width: 156px;
height: 65px;
border-radius: 40px;
font-size: 20px;
font-weight: 600;
background-color:#FF42A5 ;
color: white;
border: none;
margin-right: 15px;
}
.btn-2{
    width: 185px;
    height: 65px;  
    border: none;
    border-radius: 40px;
    color: white;
    background-color:#45BAF9 ;
    font-size: 20px;
    font-weight: 600;
    
}

